<footer class="mt-auto pt-8 pb-6 text-center text-sm text-gray-400">
  Made with &#127866; in Austin, TX by <a href="https://github.com/chriskacerguis" class="hover:text-gray-600 underline">KJ5DJC</a>
</footer>
